<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "layout", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <!-- Adds the devise authentication notifications to the layout -->  
     <div id="header">
     <ul id="header_bar">
       	<li><a href="#" class="header-button" id="dma">DMA</a></li>
        <li><a href="#" class="header-button" id="client_portal"> Client Portal </a></li>
	<li><%= link_to "Revenue Model", '/revenue_models', class: "header-button", id: "revenue-model" %>
		<!--<li><a href="#" class="header-button" id="revenue_model">Revenue Model</a></li>-->
	<li><%= link_to "Account", '/users/edit', class: "header-button", id: "account" %>
		<!-- <a href="#" class="header-button" id="account"> Account </a></li> -->
     </ul>
     <ul id="header_links">
	<% if user_signed_in? %> 
		<li>(Logged in as <strong><%= current_user.email %></strong>)
		<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
	<% else %>
		<li><%= link_to "Sign Up", new_user_registration_path %></li>
		<li><%= link_to "Login", new_user_session_path %></li>
	<% end %>
		<li><a href="#">Feedback</a></li>
     </ul>
   </div>	
   <div class ="login-nav">
   	<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
   </div>	
	
	
	<%= yield %>

</body>
</html>
